{% extends 'base.html.twig' %}
{% block title %}Inscrivez vous !{% endblock %}

{% block body %}
    <!-- Formulaire d'inscription-->
    <div class="flex min-h-screen flex-col bg-indigo-50 p-4 md:p-24">
        <p class="text-xl">Hello, stay tunned we comming soon</p>
    </div>
{% endblock %}
