{% extends 'base.html.twig' %}
{% block title %}Accédez à votre espace
{% endblock %}

{% block body %}
	<div class="flex h-screen w-screen flex-col items-center justify-start md:justify-center">
		<div
			class="flex flex-col gap-[15px] self-stretch p-2.5 md:w-[400px] md:gap-0 md:self-auto md:p-0 md:py-5">
			<!--App title-->
			<h1 class="text-center text-2xl font-semibold text-webquote-500 md:text-4xl">
				webquote
			</h1>

			<form method="post" class="flex flex-col items-center md:py-5">
				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				<!--Inputs-->
				<div class="flex flex-col justify-center gap-5 self-stretch">
					<twig:TextField label="Adresse mail" type="email" name="email" value="{{ last_username }}" autocomplete="email"/>

					<twig:TextField label="Mot de passe" type="password" name="password" autocomplete="current-password"/>
					<p class="text-right text-webquote-500">Mot de passe oublié ?</p>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
				</div>

				<div
					class="flex flex-col items-center gap-[25px] self-stretch">
					<!--Checkbox-->
					<div class="flex self-stretch">
						<label>
							<input type="checkbox" name="_remember_me"/>
							Rester connecté
						</label>
					</div>

					<!--Submit button-->
          <twig:Button id="login-btn" class="bg-webquote-500 hover:bg-webquote-600 text-white self-stretch justify-center">
            Se connecter
            <i class="ti ti-arrow-narrow-right"></i>
          </twig:Button>

					<p>
						<a href="{{ path('app_register') }}" class="text-center text-webquote-500">Pas encore de compte ?</a>
					</p>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
