{% extends 'dashboard/base.html.twig' %}

{% block content %}
<h1 class="font-title font-bold text-2xl dark:text-white">
  {% block title %}{% endblock %}
</h1>

<div
  class="self-stretch flex flex-col gap-5 justify-between">
  {% block clientSelect %}{% endblock %}

  {# Devis / Factures #}
  <div class="flex flex-col self-stretch pt-2.5 gap-2.5 overflow-scroll max-h-[calc(100svh-292px)] md:max-h-[calc(100svh-341.5px)]">
    {% for elt in elements %}
    <div class="flex md:gap-10 rounded-6 border border-gray-300 p-2.5 items-center bg-white hover:bg-gray-300 cursor-pointer" onclick="goTo('{% block goto %}{% endblock %}')">
      <div class="w-0 flex flex-col flex-1 md:flex-row md:items-center gap-5">
        <h3 class="text-md basis-1/4">{{ elt.date|date('d/m/Y') }}</h3>
        <div class="md:grow">
          <p class="text-md">{{ elt.title }}</p>
        </div>
        <div class="flex md:flex-1 md:justify-end">
          <p class="text-md">{{ elt.amount }} €</p>
        </div>

        {% block rowContent %}{% endblock %}
      </div>

      {# Actions #}
      <div class="flex gap-2.5">
        {% block buttons %}{% endblock %}
      </div>
    </div>
    {% else %}
      {% if client is not null %}
        {% block emptyMessage %}{% endblock %}
      {% endif %}
    {% endfor %}
  </div>

  {% if client is not null %}
    {% block createButton %}{% endblock %}
  {% endif %} 
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
  const select = document.querySelector('#cli-select');
  select.addEventListener('change', () => {
    select.submit();
  });
</script>
{% endblock %}

