{# templates/components/ButtonDownload.html.twig #}
<a href="{{ href }}" id="{{ id }}" class="rounded-6 p-2.5 flex items-start gap-2 {{ class }}" target="_blank">
  {% block content %}{% endblock %}
</a>