{# templates/components/Button.html.twig #}
<button class="{{ stretch ? 'flex-1 self-stretch' : '' }} rounded-[5px] bg-wq-blue-500 px-[10px] py-[10px] text-lg font-semibold text-white shadow hover:bg-wq-blue-600" type="submit">
	{{ value }}
</button>
