{# templates/components/IconButton.html.twig #}
<button type="submit" id="{{ id }}" class="rounded-6 p-2.5 text-white drop-shadow flex items-center {{ class }}">
  {% block content %}{% endblock %}
</button>
