<nav
	class="absolute hidden top-0 left-0 md:static md:transition-none md:flex flex-col w-5/6 md:w-auto h-full md:h-auto self-stretch py-2.5 px-2.5 gap-5 bg-webquote-950" id="sidebar">
	<!--Logo-->
	<div class="flex items-center justify-between md:justify-center py-5 md:w-60">
    <div class="w-[24px] md:hidden"></div>
		<span class="text-white text-3xl md:text-4xl font-semibold font-webquote">Webquote</span>
    <i class="ti ti-x text-webquote-500 cursor-pointer md:hidden" id="menu-close-btn"></i>
	</div>

	<!--Items-->
  <!--Le prefix indique le début de route à match pour considérer l'onglet comme actif-->
	<div class="flex flex-col items-center gap-2.5">
		<twig:SidebarItem value="Accueil" icon="home" route="app_dashboard"/>
		<twig:SidebarItem value="Clients" icon="users" route="app_client_index" prefix="app_client"/>
		<twig:SidebarItem value="Prestations" icon="tools" route="app_service_category_index" prefix="app_service"/>
		<twig:SidebarItem value="Devis" icon="file-import" route="app_quote_index" prefix="app_quote" />
		<twig:SidebarItem value="Factures" icon="wallet"/>
		<twig:SidebarItem value="Paramètres" icon="settings"/>
	</div>
</nav>
