<nav
	class="flex flex-col w-1/5 self-stretch py-2.5 px-5 gap-[15px] bg-wq-blue-500">
	<!--Logo-->
	<div class="flex items-center justify-center py-5">
		<span class="text-white text-4xl font-semibold">webquote.</span>
	</div>

	<!--Items-->
	<twig:SidebarItem value="Accueil" icon="home" route="app_dashboard"/>
	<twig:SidebarItem value="Clients" icon="people"/>
	<twig:SidebarItem value="Prestations" icon="shopping_cart"/>
	<twig:SidebarItem value="Devis" icon="request_quote"/>
	<twig:SidebarItem value="Factures" icon="credit_card"/>
	<twig:SidebarItem value="Paramètres" icon="settings"/>
</nav>
