{% set currentRoute = app.request.get('_route') %}
{% set active = route is defined ? (currentRoute == route) : false %}
<a href="{{ route is defined ? path(route) : '#' }}">
	<div class="flex w-full p-2.5 items-center gap-5 rounded-md {{ active ? 'bg-[#ffffff38]' : 'hover:bg-[#ffffff1a]' }}">
		<span class="material-icons text-white">{{ icon }}</span>
		<span class="text-white text-xl">{{ value }}</span>
	</div>
</a>
