{% extends 'base.html.twig' %}

{% block title %}
	Hello DashboardController!
{% endblock %}

{% block body %}
	<div class="w-screen min-h-screen flex">
		<twig:Sidebar/>

    <div class="flex flex-1 p-2.5 flex-col self-stretch">
      {# Header #}
      <div class="flex px-[30px] pb-2.5 pt-5 justify-between items-center self-stretch">
        {# Breadcrumbs #}
        <div>
          <p class="text-base text-gray-500">Dashboard / <span class="text-base text-black">{% block breadcrumbs %}{% endblock %}</span></p>
        </div>

        {# Username + logout button #}
        <div class="flex gap-5 justify-center items-center">
          <div class="flex py-1 px-2.5 justify-center items-center rounded-md bg-white">
            {# <p>{{ app.user.username }}</p> #}
            <p>Avanseo</p>
          </div>

          <a href="{{ path('app_logout') }}">
            <div class="flex p-1 justify-center items-center rounded-md bg-wq-blue-500">
              <span class="material-icons text-white">logout</span>
            </div>
          </a>
        </div> 
      </div>

      {# Content #}
      <main class="flex py-2.5 px-[30px] flex-col gap-5 flex-1 self-stretch">
        {% block content %}{% endblock %}
      </main>
    </div>
	</div>
{% endblock %}
