{% extends 'base.html.twig' %}

{% block title %}
	Hello DashboardController!
{% endblock %}

{% block body %}
	<div class="w-screen min-h-screen flex flex-1 p-2.5 md:p-0">
		<twig:Sidebar/>

		<div
			class="flex flex-1 md:p-2.5 flex-col self-stretch gap-[30px] md:gap-0">
			{# Header #}
			<div
				class="flex md:px-[30px] md:pb-2.5 md:pt-5 justify-between items-center self-stretch">
				{# Breadcrumbs #}
				<div class="hidden md:block">
					<p class="text-base text-gray-500">Dashboard /
						<span class="text-base text-black">
							{% block breadcrumbs %}{% endblock %}
						</span>
					</p>
				</div>

        {# Mobile only #}
        <i class="md:hidden ti ti-menu-2 cursor-pointer text-webquote-500" id="menu-open-btn"></i>
        <p class="md:hidden text-xl text-webquote-500 font-semibold">webquote</p>


				<div
					class="flex items-center gap-6">
					{# Welcome Text #}
					<p class="hidden md:block text-base font-medium">Bienvenue,
						{{ app.user.email }}
					</p>
					<a href="{{ path('app_logout') }}">
						<i class="ti ti-logout text-webquote-500"></i>
					</a>
				</div>
			</div>

			{# Content #}
			<main class="flex md:p-[30px] flex-col items-start gap-5 flex-1 self-stretch">
				{% block content %}{% endblock %}
			</main>
		</div>
	</div>

	<script>
		const openButton = document.querySelector('#menu-open-btn');
    const sidebar = document.querySelector('#sidebar');
    const closeButton = document.querySelector('#menu-close-btn');

    openButton.addEventListener('click', (e) => {
      sidebar.classList.remove('hidden');
    });

    closeButton.addEventListener('click', () => {
      sidebar.classList.add('hidden');
    });
	</script>
{% endblock %}
