{% extends 'base.html.twig' %}

{% block body %}
	<div class="w-screen h-screen flex flex-1 p-2.5 md:p-0">
		<twig:Sidebar/>

		<div
			class="flex flex-1 flex-col self-stretch gap-[30px] md:gap-0 md:bg-webquote-950">
			{# Header #}
			<div
				class="flex md:px-5 md:py-4 justify-between md:justify-end items-center self-stretch bg-white">
        {# Mobile only #}
        <i class="md:hidden ti ti-menu-2 cursor-pointer text-black" id="menu-open-btn"></i>
        <p class="md:hidden text-xl text-webquote-500 font-semibold font-webquote">Webquote</p>


				<div
					class="flex items-center gap-6">
					<p class="hidden md:block text-base font-medium">
            {{ app.user.agency.name }}
          </p>
					<a href="{{ path('app_logout') }}">
						<i class="ti ti-logout text-black"></i>
					</a>
				</div>
			</div>

			{# Content #}
			<main class="flex md:p-[30px] flex-col items-start gap-5 flex-1 self-stretch overflow-hidden bg-white md:shadow-inner">
				{% block content %}{% endblock %}
			</main>
		</div>
	</div>

	<script>
		const openButton = document.querySelector('#menu-open-btn');
    const sidebar = document.querySelector('#sidebar');
    const closeButton = document.querySelector('#menu-close-btn');

    openButton.addEventListener('click', (e) => {
      sidebar.classList.remove('hidden');
    });

    closeButton.addEventListener('click', () => {
      sidebar.classList.add('hidden');
    });
	</script>
{% endblock %}
