{% extends 'dashboard/base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block breadcrumbs %}
  Accueil
{% endblock %}

{% block content %}
  {# Chart #}
  <div class="flex self-stretch bg-white rounded-md h-1/2 shadow-md"> 
  </div>

  {# Cards #}
  <div class="flex flex-col md:flex-row py-10 gap-5 flex-1 self-stretch">
    {# Transactions récentes #}
    <div class="flex p-5 flex-col gap-2.5 flex-1 self-stretch rounded-md bg-white shadow-md">
      <h2 class="text-lg font-medium">Transactions récentes</h2>
    </div>

    {# Top clients #}
    <div class="flex p-5 flex-col gap-2.5 flex-1 self-stretch rounded-md bg-white shadow-md">
      <h2 class="text-lg font-medium">Top clients</h2>
    </div>
  </div>
{% endblock %}
